.btn-circle {
  border-radius: 10px;
  transition: 500ms;
  float: right;

  background-color: rgba(248, 22, 22, 0.897);
}


.rainbow {
  position: relative;
  z-index: 0;
  width: auto;
  height: auto;
  border-radius: 0px;
  overflow: hidden;
  padding: 2rem;
}



/* ****************************************************************** */

.headingFont {
  font-family: "Open Sans", sans-serif;
}


.updates-container {
  margin-top: 8%;
  margin-right: 10%;
  margin-left: 10%;
}

.update-row{
  justify-content: space-between;
  padding: 0;
}
.update-card{
  
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
.card-img{
  width: 60%;
  height: 100%;
  margin: 0;
}