.btn-circle {
  border-radius: 10px;
  transition: 500ms;
  float: right;

  background-color: rgba(248, 22, 22, 0.897);
}


.rainbow {
  position: relative;
  z-index: 0;
  width: auto;
  height: auto;
  border-radius: 0px;
  overflow: hidden;
  padding: 2rem;
}



/* ****************************************************************** */

.headingFont {
  font-family: "Open Sans", sans-serif;
}

