.aoe-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #f0ede7;
}
.line {
  width: 75px;
  height: 5px;
  background-color: #a1989e;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 70px;
}

.gallery-item {
  /* Minimum width of 24rem and grow to fit available space */
  flex: 1 0 24rem;
  /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: auto;
  height: 100px;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.gallery-image:hover {
  transform: scale(1.15);
}
