.mediaViewInfo {
    --web-view-name: Artboard – 1;
    --web-view-id: Artboard__1;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Artboard__1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Artboard__1 {
    position: absolute;
    width: 945px;
    height: 578px;
    
    --web-view-name: Artboard – 1;
    --web-view-id: Artboard__1;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Rectangle_12 {
    fill: rgba(146,133,133,0.169);
}
.Rectangle_12 {
    position: absolute;
    overflow: visible;
    width: 847px;
    height: 451px;
    left: 49px;
    top: 64px;
}
#vacation {
    position: absolute;
    width: 441px;
    height: 451px;
    left: 49px;
    top: 64px;
    overflow: visible;
}
#Lorem_Ipsum_Title {
    left: 514px;
    top: 64px;
    position: absolute;
    overflow: visible;
    width: 341px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(108,101,101,1);
}
#College_is_arranging_a_trip_to {
    left: 514px;
    top: 159px;
    position: absolute;
    overflow: visible;
    width: 367px;
    height: 185px;
    line-height: 35px;
    margin-top: -2.5px;
    text-align: left;
    font-family: Yu Gothic UI;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(96,85,85,1);
}
#POSTED_ON_1-1-2021 {
    left: 516px;
    top: 354px;
    position: absolute;
    overflow: hidden;
    width: 310px;
    height: 36px;
    line-height: 35px;
    margin-top: -2.5px;
    text-align: left;
    font-family: Yu Gothic UI;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(99,91,91,1);
}
#Rectangle_13 {
    fill: rgba(255,255,255,1);
}
.Rectangle_13 {
    position: absolute;
    overflow: visible;
    width: 232px;
    height: 77px;
    left: 516px;
    top: 420px;
}
#KNOW_MORE {
    left: 542px;
    top: 439px;
    position: absolute;
    overflow: visible;
    width: 186px;
    white-space: nowrap;
    line-height: 35px;
    margin-top: -2.5px;
    text-align: left;
    font-family: Yu Gothic UI;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(72,57,57,1);
}

.update-card {
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: row;
    background: rgba(146,133,133,0.169);
    border: none;
    border-radius: 0px 46px 0px 46px;
    overflow: hidden;
    margin-left: 20px;
}
.img-cont{
    width: 50%;
    height: 100%;

}
.update-img {
    width: 100%;
    height: 100%;
}
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}
.card-content-title {
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(108,101,101,1);
}

.card-content-desc {
    width: 367px;
    
    line-height: 35px;
    margin-top: 20px;
    text-align: left;
    font-family: Yu Gothic UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(96,85,85,1);
}

.POSTED_ON {
    text-align: left;
    font-family: Yu Gothic UI;
    font-style: normal;
    font-size: 20px;
    color: rgba(99,91,91,1);
    margin-top: 15px;
}
.KNOW_MORE {
    width: 186px;
    height: 50px;
    white-space: nowrap;
    line-height: 35px;
    margin-top: 20px;
    text-align: left;
    font-family: Yu Gothic UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(72,57,57,1);
    border: none;
    background: #fff;
    border-radius: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}