/* 

.update-card {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: #F0DCCA;
    border: none;
    border-radius: 0px 46px 0px 46px;
    overflow: hidden;
    margin-left: 20px;
}
.img-cont{
    padding: 0;
    width: 40vw;
    height: 100%;

}
.update-img {

    margin:0;
    padding: 0;

    width: 100%;
    height: 100%;
}
.card-content {
    display: flex;
    flex-direction: column;
    

    margin-left: 10px;
}
.card-content-title {
    margin-top: 20px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(108,101,101,1);
}

.card-content-desc {
    width: 367px;
    
    line-height: 35px;
    margin-top: 20px;
    text-align: left;
    font-family: Yu Gothic UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(96,85,85,1);
}

.POSTED_ON {
    text-align: left;
    font-family: Yu Gothic UI;
    font-style: normal;
    font-size: 15px;
    color: rgba(99,91,91,1);
    margin-top: 15px;
}
.KNOW_MORE {
    width: 186px;
    height: 50px;
    
    margin-top: 30px;
    margin-left: 5px;
   
    font-family: Yu Gothic UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(72,57,57,1);
    border: 2px transparent;
    background: #fff;
    border-radius: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}


.KNOW_MORE:hover{
      background-color: rgba(108, 101, 101, 1);

      color: #E2E8CE;
}

.updates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

    @media screen and (min-width: 731px) {
        .update-card {
            width: 45%;
            height: 50vh;
        }

    }
  

  @media screen and (max-width: 730px) {
    .update-card {
        width: 100vw;
        height: 40vh;
        flex-direction: column;
    }
  } */


  @charset "UTF-8";
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .updates img {
    height: auto;
    max-width: 100%;
  }
  
  .updates a {
    color: #29B6F6;
    text-decoration: none;
  }
  .updates a:hover {
    text-decoration: underline;
  }
  
  .site__wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
  
  .site__info {
    clear: both;
    display: block;
    font-variant: small-caps;
    letter-spacing: 2px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
  }
  
  .grid {
    float: none;
    width: 100%;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0.4em;
  }
  @media screen and (min-width: 40.063em) {
    .grid {
      float: left;
      width: 33.333%;
    }
  }
  
  .card__image {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;
    min-height: 240px;
    overflow: hidden;
    position: relative;
  }
  .card__image > img {
    display: block;
    margin-bottom: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  .card__image:hover > img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .card__title {
    color: white;
    display: inline-block;
    font-family: "Montserrat";
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.75em;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .card__title:hover {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
  }
  
  .card__overlay {
    content: "";
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .card__overlay--indigo {
    background-image: linear-gradient(to bottom, rgba(92, 107, 192, 0.1), rgba(92, 107, 192, 0.8));
    z-index: 2;
  }
  
  .card__overlay--blue {
    background-image: linear-gradient(to bottom, rgba(41, 182, 246, 0.1), rgba(41, 182, 246, 0.8));
    z-index: 2;
  }
  
  .card__overlay-content {
    position: absolute;
    bottom: 0;
    padding: 1.5em;
    z-index: 3;
  }
  
  .card__meta {
    margin: 0;
    margin-right: -1em;
    margin-bottom: 0.75em;
  }
  .card__meta.card__meta--last {
    margin-bottom: 0;
  }
  .card__meta li {
    color: #f8f8f8;
    display: inline;
    list-style-type: none;
    margin-bottom: 0;
    padding-right: 1em;
    font-size: 0.85em;
    font-variant: small-caps;
    letter-spacing: 1px;
  }
  .card__meta li:not(:last-child):after {
    content: "●";
    font-style: normal;
    position: relative;
    color: rgba(255, 255, 255, 0.25);
    right: -0.6em;
  }
  .card__meta li > a {
    color: #f8f8f8;
  }