.top-content {
  margin-top: 40px;
  padding-bottom: 30px;
  /* margin: 40px 0; */
}

.carousel {
  padding: 0px 50px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .carousel {
    padding: 0;
  }
  /* ... */

  .top-content .carousel-control-prev,
  .top-content .carousel-control-next {
    display: none;
  }
  .top-content .carousel-indicators li {
    margin-left: 10px;
    margin-right: 10px;
  }

  /* ... */
}
