.cse-card {
  background-color: #fff;
  transition: all 0.2s ease-in;
}

.cse-logo {
  fill: #000;
  transition: all 0.2s ease-in;
}
.cse-card:hover {
  background: #f72a26;
  color: #fff;
  cursor: pointer;
}
.cse-card:hover .cse-logo {
  fill: white;
}

.mech-card {
  background-color: #fff;
  transition: all 0.2s ease-in;
}

.mech-logo {
  fill: #000;
  transition: all 0.2s ease-in;
}
.mech-card:hover {
  background: #f72a26;
  color: #fff;
  cursor: pointer;
}
.mech-card:hover .mech-logo {
  fill: white;
}

.civil-card {
  background-color: #fff;
  transition: all 0.2s ease-in;
}

.civil-logo {
  fill: #000;
  transition: all 0.2s ease-in;
}
.civil-card:hover {
  background: #f72a26;
  color: #fff;
  cursor: pointer;
}
.civil-card:hover .civil-logo {
  fill: white;
}

.etc-card {
  background-color: #fff;
  transition: all 0.2s ease-in;
}

.etc-logo {
  fill: #000;
  transition: all 0.2s ease-in;
}
.etc-card:hover {
  background: #f72a26;
  color: #fff;
  cursor: pointer;
}
.etc-card:hover .etc-logo {
  fill: white;
}

.ele-card {
  background-color: #fff;
  transition: all 0.2s ease-in;
}

.ele-logo {
  fill: #000;
  transition: all 0.2s ease-in;
}
.ele-card:hover {
  background: #f72a26;
  color: #fff;
  cursor: pointer;
}
.ele-card:hover .ele-logo {
  fill: white;
}
