@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Monoton&display=swap");

* {
  font-family: "Bellota Text", "cursive";
  font-weight: 400;
}

.banner {
  top: 0;
  width: 100vw;
  /* background-image: url("https://images.unsplash.com/photo-1598124147095-16d7e62b8d01?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzN8fHdlYnNpdGUlMjBiYW5uZXJ8ZW58MHwwfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"); */
  /* background-image: url("../../assets/banner.jpg"); */
  /* background-color: #a1989e; */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */

  padding: 0;
  margin: 0;
}
.bannerimg {
  height: 130px;
  width: 100vw;
}

@media (max-width: 991px) {
  .banner {
    display: none;
  }
}
