.banner {
    top: 0;
    width: 100%;
    background-image:url("https://images.unsplash.com/photo-1598124147095-16d7e62b8d01?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzN8fHdlYnNpdGUlMjBiYW5uZXJ8ZW58MHwwfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60");
    background-size: cover;
    height: 40vh;
    padding: 0;
    margin: 0;
}

@media (max-width: 991px){
    .banner{
        display: none;
    }
}