
.logo{
    transition: 500ms;
  }
  
  .logo:hover{
    transform: scale(1.3,1.3); 
  }
  
  
  
  .effect{
    transition: 500ms;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
  }
  
  .effect:hover{
    background-color: #E84342;
    border-radius: 10px;
    transform: scale(1.1,1.1);        
  }


  .backcolor{
    background-color: #ffffff ;    
  }

  .menu-items:hover{    
    color: #fff;
  }